
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item"><a>About Us</a></li>
    </ol>
</nav>
<div class="container">
    <main class="aboutIcon">
        <div class="iconContainer">

            <div class="iconBox animate__animated animate__zoomIn" id="iconFirst" onclick="window.location='#aboutFirst';">
                <i class="fas fa-hourglass-half"></i>
                <p>Since 1966</p>
            </div>

            <div class="iconBox animate__animated animate__zoomIn" id="iconSecond" onclick="window.location='#aboutSecond';">
                <i class="fas fa-campground"></i>
                <p>Tent Technology</p>
            </div>

            <div class="iconBox animate__animated animate__zoomIn" id="iconThird" onclick="window.location='#aboutThird';" data-target="#aboutThird">
                <i class="fas fa-globe-africa"></i>
                <p>Global Network</p>
            </div>

            <div class="iconBox animate__animated animate__zoomIn" id="iconFourth" onclick="window.location='#aboutFourth';">
                <i class="far fa-smile"></i>
                <p>Happy Customers</p>
            </div>
            <div class="iconBox animate__animated animate__zoomIn" id="iconFifth" onclick="window.location='#aboutFifth';">
                <i class="fas fa-leaf"></i>
                <p>Environmental Awareness</p>
            </div>
            <div class="iconBox animate__animated animate__zoomIn" id="iconSixth" onclick="window.location='#aboutSixth';">
                <i class="fas fa-palette"></i>
                <p>Creative Products</p>
            </div>
        </div>

        <div class="aboutContainer">
            <div class="aboutExplain animate__animated animate__zoomIn animate__slow" id="aboutFirst">
                <img src="https://images.unsplash.com/photo-1567654840519-75fa76f4282b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="guclucadirsince">
                <div class="paragraph">
                    <h2>We are working for everywhere since 1966</h2>
                    <p>
                        Güçlü Çadır Şirketimiz 1966 yılında kuruldu. Çadır, Branda,Çelik konstrüksiyon ve yapı teknolojilerinde profesyonel çalışmalar yaparak, yeni ve yenilikçi yapı ürünleri üretimi konusunda faaliyet göstermektedir. Firmamız her geçen gün yatırımlarını arttırarak teknoloji ve kapasite konusunda süratle büyümektedir.
                    </p>
                </div>
            </div>

            <div class="aboutExplain hide animate__animated animate__zoomIn animate__slow" id="aboutSecond">
                <img src="https://images.unsplash.com/photo-1545987796-200677ee1011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="guclucadirsince">
                <div class="paragraph">
                    <h2>Last Technology for more Quality</h2>
                    <p>
                        Firmamız her geçen gün yatırımlarını arttırarak teknoloji ve kapasite konusunda süratle büyümektedir. Gaziantep fabrikamızda çadır, çadır sistemleri, afet ve mülteci çadırları, tente ve tente sistemleri standart ve standart dışı projeler üretilmektedir. Yurt içi ve yurt dışı çalışmalarımız ve üretimini yaptığımız ürünlerin aldığı haklı takdir ve beğeniler bizleri daha da iyisini yapmaya sevk etmektedir.
                    </p>
                </div>
            </div>
            <div class="aboutExplain hide animate__animated animate__zoomIn animate__slow" id="aboutThird">
                <img src="https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="guclucadirsince">
                <div class="paragraph">
                    <h2>We are working for everywhere since 1966</h2>
                    <p>
                        Yurt içi ve yurt dışı çalışmalarımız ve üretimini yaptığımız ürünlerin aldığı haklı takdir ve beğeniler bizleri daha da iyisini yapmaya sevk etmektedir.
                    </p>
                </div>
            </div>

            <div class="aboutExplain hide animate__animated animate__zoomIn animate__slow" id="aboutFourth">
                <img src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="guclucadirsince">
                <div class="paragraph">
                    <h2>We are working for e6</h2>
                    <p>
                        Gaziantep fabrikamızda çadır, çadır sistemleri, afet ve mülteci çadırları, tente ve tente sistemleri standart ve standart dışı projeler üretilmektedir. Yurt içi ve yurt dışı çalışmalarımız ve üretimini yaptığımız ürünlerin aldığı haklı takdir ve beğeniler bizleri daha da iyisini yapmaya sevk etmektedir.
                    </p>
                </div>
            </div>

            <div class="aboutExplain hide animate__animated animate__zoomIn animate__slow" id="aboutFifth">
                <img src="https://images.unsplash.com/photo-1451847251646-8a6c0dd1510c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="guclucadirsince">
                <div class="paragraph">
                    <h2>We a for everywhere since 1966</h2>
                    <p>
                        Firmamız çevre bilinci ve insan - çevre faktörünü daima göz önünde bulundurarak yapılan yatırım, üretilen ürün ve teknolojinin çevre ve insan sağlığının üzerinde olumsuz etki yaratmaması amacını gütmektedir. Güçlü, yaşamı daha da yaşanır kılacak ürünler konusunda çalışmalarını sürdürmektedir.
                    </p>
                </div>
            </div>

            <div class="aboutExplain hide animate__animated animate__zoomIn animate__slow" id="aboutSixth">
                <img src="https://images.unsplash.com/photo-1591871987673-f1513e38493b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1192&q=80" alt="guclucadirsince">
                <div class="paragraph">
                    <h2>We are working for everywhere since 1966</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nisi aliquid aut ab conitatibus similique doloribus natus, itaque distinctio blanditiis rem mollitia nostrum excepturi hic tenetur libero perferendis totam sapiente, eaque esse delectus ad assumenda. Voluptatem distinctio aspernatur a, nostrum praesentium autem.
                    </p>
                </div>
            </div>

        </div>
    </main>
</div>

