@using companyproject.Entities
@model contact_info



@if (Model != null)
{
    <div class="contact-left animate__animated animate__slideInLeft">
        <div class="contact-info">
            <h4>Contact Us</h4>
            <hr>
            <div class="contact-info-box">
                <i class="fas fa-phone-alt"><span><strong>Tel:</strong><p>@Model.phone</p></span></i>
                <i class="far fa-paper-plane"><span><strong>Mail:</strong><p>@Model.mail</p></span></i>
                <a href="#" class="whatsapp-btn"><i class="fab fa-whatsapp"><span><strong>Whatsapp:</strong><p>@Model.phone</p></span></i></a>
            </div>
        </div>
        <div class="contact-map">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.858899790623!2d37.43130251565307!3d37.08466735933394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531e6caaadc8845%3A0xe2efbad87e5ff313!2zR8Ocw4dMw5wgw4dBRElSIFNBTkFZxLAgVkUgVMSwQyBMVEQgxZ5UxLA!5e0!3m2!1str!2str!4v1598352086609!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="animate__animated animate__zoomIn"></iframe>
        </div>
    </div>
}
else
{
    <div class="contact-left animate__animated animate__slideInLeft">
        <div class="contact-info">
            <h4>Contact Us</h4>
            <hr>
            <div class="contact-info-box">
                <i class="fas fa-phone-alt"><span><strong>Tel:</strong><p>güncellenecek</p></span></i>
                <i class="far fa-paper-plane"><span><strong>Mail:</strong><p>güncellenecek</p></span></i>
                <a href="#" class="whatsapp-btn"><i class="fab fa-whatsapp"><span><strong>Whatsapp:</strong><p>güncellenecek</p></span></i></a>
            </div>
        </div>
          <div class="contact-map">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.858899790623!2d37.43130251565307!3d37.08466735933394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531e6caaadc8845%3A0xe2efbad87e5ff313!2zR8Ocw4dMw5wgw4dBRElSIFNBTkFZxLAgVkUgVMSwQyBMVEQgxZ5UxLA!5e0!3m2!1str!2str!4v1598352086609!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="animate__animated animate__zoomIn"></iframe>
        </div>
    </div>
}



